{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_pages_profile') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_pages_profile') }}
{% endblock %}

{% block title %}My Learning{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-2 mt-5">

        </div>
        <div class="col-8 mt-5">
            <h1>Paramètres Utilisateur</h1>
                <div class="mt-5">
                {% if is_granted('ROLE_ADMIN') %}
                <hr>
                <h2 class="text-center">Vous êtes Administrateur</h2>
                    <div class="row">
                        <div class="col-8">
                            <a class="btn btn-success " href="{{ path('admin') }}">Accéder à l'interface d'administration</a>
                        </div>
                    </div>

                {% elseif is_granted('ROLE_PROF') %}

                <h2 class="text-center">Vous êtes Professeur</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" href="">Accéder à l'interface des prof</a>
                        </div>
                    </div>

                {% elseif is_granted('ROLE_ELEVE') %}

                <h2 class="text-center">Vous êtes Eleve</h2>
                    <div class="row">
                        <div class="col-md-12">
                            <a class="btn btn-success" href="">Accéder à l'interface des élèves</a>
                        </div>
                    </div>

                {% endif %}
                <hr>

                <div>
                    <h2>Détails de votre compte</h2>
                    Prénom : <strong>{{ app.user.firstname }}</strong> <br>
                    Nom : <strong>{{ app.user.lastname }}</strong> <br>
                    Adresse mail : <strong>{{ app.user.email }}</strong> <br>
                    {% if is_granted('ROLE_PROF') or is_granted('ROLE_ELEVE') %}
                        Ecole :
                            {% for group in app.user.getGroups() %}
                                <strong>{{ group.ecole }}</strong><br>
                            {% endfor %}
                        {% if is_granted('ROLE_ELEVE') %}
                            Classe :
                            {% for group in app.user.getGroups() %}
                                <strong>{{ group.name }}</strong>
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="account-item">
                            <a class="btn btn-success" href="{{ path('app_account_password') }}">Modifier mon mot de passe</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div class="col-2">

        </div>
    </div>
{% endblock %}
