{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('front_matter') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('front_matter') }}
{% endblock %}

{% block body %}
    {% include 'common/components/_navbar.html.twig' %}

    <h1>Matter page</h1>

    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
    {% endfor %}

    <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
    {% for matter in matters %}
        <a type="button" class="btn btn-lg btn-outline-primary" href="{{ path('app_pages_class', {'matter' : matter.title}) }}">{{ matter.title }}</a>
    {% endfor %}
    </div>

    {% include 'common/components/_footer.html.twig' %}
{% endblock %}
